<%#= image_tag(@bicycle.image_url(:thumb)) %>

<h1 class="title"><%= @bicycle.brand %></h1>
<p><%= @bicycle.description %><p>
<h1 class="title"><%= @bicycle.condition %></h1>

<% if @bicycle.image_url %>
    <%= image_tag(@bicycle.image_url(:standard)) %>
<% end %>



